<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg ref="restTemplate"/>
        <constructor-arg
                value="https://hook.dooray.com/services/3204376758577275363/3738651962004364986/HByzZBRuRu69-EUTsWR0tg"/>
    </bean>

    <bean id="doorayMessageSender" class="com.nhnacademy.edu.springframework.messagesender.impl.DoorayMessageSender">
        <constructor-arg ref="doorayHookSender"/>
    </bean>

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.messagesender.service.MessageSendService">
        <constructor-arg ref="doorayMessageSender"/>
    </bean>

    <bean id="loggingAspect" class="com.nhnacademy.edu.springframework.messagesender.aspect.LoggingAspect"/>

    <aop:config>
        <aop:aspect id="timeLoggingAspect" ref="loggingAspect">
            <aop:around
                    pointcut-ref="annotationDooray"
                    method="logTime"/>
        </aop:aspect>
    </aop:config>

    <aop:config>
        <aop:pointcut id="annotationDooray"
                      expression="@annotation(com.nhnacademy.edu.springframework.messagesender.annotation.Dooray)"/>
    </aop:config>
</beans>